@import 'tailwindcss';

:root {
	--blog-brightness: 75%;
	--quote-brightness: 75%;
	&.dark {
		--blog-brightness: 150%;
		--quote-brightness: 75%;
	}

	--icon-stroke: black;
	--icon-fill: white;

	&.dark {
		--icon-stroke: white;
		--icon-fill: black;
	}

	&[accent='purple'] {
		--blog-brightness: 200%;
		&.dark {
			--blog-brightness: 150%;
		}
	}
}

article code {
	@apply font-mono text-(--complement-500);
}

article h2 {
	@apply text-center text-xl text-(--complement-500) brightness-(--blog-brightness);
}

article section a {
	@apply text-(--complement-600) underline;
	&:hover {
		@apply text-(--complement-400);
	}
}

.dark {
	article section a {
		@apply text-(--complement-300) underline;
		&:hover {
			@apply text-(--complement-500);
		}
	}
}
